<style>
    .outer-matchup { 
                display: flex;
                align-items: end;
                justify-content: space-around;
                width: 100%;
                position: relative;
    }
    .pred-div {
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 25%;
                position: relative;
                bottom: 0%;
    }
    .market-box {
        border: solid thin black;
        border-radius: 4px;
        margin: auto;
        padding: 0.5vh 3vh;
        width: 5vw;
        margin: 1%;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 15px;
    }
    .source {
        height: 6vh;
        font-size: 3vh;
    }
</style>
<div class="card mb-3">
    <div class="card-body">
        {% for team in matchup %}
        <div class="team mb-3" style="box-shadow:12px 12px 2px 1px {{team.color}}">
            <div class="outer-matchup">
                <div id="vegas-div" class="pred-div">
                    <h4 class="market-box">{{team.vegas}}</h4>
                    <h4 class="market-box">{{team.total}}</h4>
                    <h4 class="market-box">{{team.spread}}</h4>
                    <h5 class="source" style="font-size: 0.6rem">Vegas</h5>
                </div>
                <div class="team-div" style="text-align: center;">
                    <img src="{{ team.logo }}" alt="{{ team.team }} logo" style="width: 150px">
                    <h3 class="card-title" style="width:100%">{{ team.team }}</h3>
                </div>
                <div id="us-div" class="pred-div">
                    <h4 id="moneyline" class="market-box" style="background-color: {{team.color}}"> {{team.our_line}} </h4>
                    <h4 id="total" class="market-box" style="background-color: {{team.cover_total_color}}">{{team.total}}</h4>
                    <h4 id="spread" class="market-box" style="background-color: {{team.cover_spread_color}}">{{team.spread}}</h4>
                    <h5 class="source" style="font-size: 0.6rem">Us</h5>
                </div>
            </div>
            
            <!-- <p class="card-text">{{ team.win_probability }}% win probability</p> -->
            <h5>Win Probability</h5>
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{team.win_probability}}%; background-color: hsl({{team.win_probability}},100%,40%)" id="absolute-meter" aria-valuenow="{{ team.win_probability }}" aria-valuemin="0" aria-valuemax="100">
                <span id="absolute-value">{{ team.win_probability }}%</span>
            </div>
            <h5>Cover Total</h5>
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{team.cover_total}}%; background-color: hsl({{team.cover_total}},100%,40%)" id="absolute-meter" aria-valuenow="{{ team.cover_total }}" aria-valuemin="0" aria-valuemax="100">
                <span id="absolute-value">{{ team.cover_total | round(2) }}%</span>
            </div>
            <h5>Cover Spread</h5>
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{team.cover_spread}}%; background-color: hsl({{team.cover_spread}},100%,40%)" id="absolute-meter" aria-valuenow="{{ team.cover_spread }}" aria-valuemin="0" aria-valuemax="100">
                <span id="absolute-value">{{ team.cover_spread | round(2) }}%</span>
            </div>
            <h5 class="card-text">Team Rating</h5>
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{team.normed_elo}}%; background-color: hsl({{team.normed_elo}},100%,40%)" id="absolute-meter" aria-valuenow="{{ team.normed_elo }}" aria-valuemin="0" aria-valuemax="100">
                <span id="absolute-value">{{ team.team_rating }}</span>
            </div>
            <h5 class="card-text">Momentum</h5>
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{team.normed_mom}}%; background-color: hsl({{team.normed_mom}},100%,40%)" id="absolute-meter" aria-valuenow="{{ team.normed_mom }}" aria-valuemin="0" aria-valuemax="100">
                <span id="absolute-value">{{ team.momentum }}</span>
            </div>
            <h4>Officials:</h4>
            <ul>
                <li>Crew Chief: {{ team.head_ref }}</li>
            </ul>
            <div class="container mt-4">
                <h4>Stats</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Statistic</th>
                            <th>3GA</th>
                            <th>5GA</th>
                            <th>SA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- DEFF Rows -->
                        <tr>
                            <td>DEFF</td>
                            <td>{{ team.data.Avg_3_game_DEFF.values[0] | round(2) }}</td>
                            <td>{{ team.data.Avg_5_game_DEFF.values[0] | round(2)}}</td>
                            <td>{{ team.data.Season_Avg_DEFF.values[0] | round(2)}}</td>
                        </tr>
        
                        <!-- OEFF Rows -->
                        <tr>
                            <td>OEFF</td>
                            <td>{{ team.data.Avg_3_game_OEFF.values[0] | round(2)}}</td>
                            <td>{{ team.data.Avg_5_game_OEFF.values[0] | round(2)}}</td>
                            <td>{{ team.data.Season_Avg_OEFF.values[0] | round(2)}}</td>
                        </tr>
        
                        <!-- PACE Rows -->
                        <tr>
                            <td>PACE</td>
                            <td>{{ team.data.Avg_3_game_PACE.values[0] | round(2)}}</td>
                            <td>{{ team.data.Avg_5_game_PACE.values[0] | round(2)}}</td>
                            <td>{{ team.data.Season_Avg_PACE.values[0] | round(2)}}</td>
                        </tr>
        
                        <!-- POSS Rows -->
                        <tr>
                            <td>POSS</td>
                            <td>{{ team.data.Avg_3_game_POSS.values[0] | round(2)}}</td>
                            <td>{{ team.data.Avg_5_game_POSS.values[0] | round(2)}}</td>
                            <td>{{ team.data.Season_Avg_POSS.values[0] | round(2)}}</td>
                        </tr>
        
                        <!-- PTS Rows -->
                        <tr>
                            <td>PTS</td>
                            <td>{{ team.data.Avg_3_game_PTS.values[0] | round(2)}}</td>
                            <td>{{ team.data.Avg_5_game_PTS.values[0] | round(2)}}</td>
                            <td>{{ team.data.Season_Avg_PTS.values[0] | round(2)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h5 class="card-text">Current Streak: {{ team.data.Streak.values[0]}}</h5>
            <h5 class="card-text">Rest Days: {{ team.data.TEAM_REST_DAYS.values[0]}}</h5>          
            <h5 class="card-text">Max Rec Unit Size: {{ team.bet }}</h5>
        </div>
        {% endfor %}
    </div>
</div>

